bbody{
    background-color: #D3D4D8;
}
.main-container{
    background-color: white;
    border-radius: 10px;
    height: 400px;
    width: 1500px;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    padding-top: 25px;
justify-content: center;
}
.top-container{
    background-color: #f5f5f5;
    border-radius: 10px;
    height: 60px;
    width: 1400px;
    margin: auto;
    border: 1px solid #D3D4D8;
}
.one{
    background-color: #f5f5f5;
    border-radius: 10px;
    height: 60px;
    width: 300px;
    margin: auto;
    border: 1px solid #D3D4D8;
    align-content: space-around;    
margin: 5px 7px;
}

.minus{
    background-color: yellow;
    border-radius: 10px;
    height: 60px;
    width: 300px;
    margin: auto;
    border: 1px solid #D3D4D8;
    color: black;
align-content: space-around;
margin: 5px 7px;
}
.equals{
    background-color: green;
    border-radius: 10px;
    height: 60px;
    width: 300px;
    margin: auto;
    border: 1px solid #D3D4D8;
    color: white;
align-content: space-around;
margin: 5px 7px;
}
.C{
    background-color: red;
    border-radius: 10px;
    height: 60px;
    width: 300px;
    margin: auto;
    border: 1px solid #D3D4D8;
    color: white;
align-content: space-around;
margin: 5px 7px;
}
.footer{
    text-align: center;
}